@use 'variables' as *;

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-family: $headerFontFamily;
    background-color: $color-lighter;
    color: $color-blackest;
}

body {
    margin: 0;
    max-width: 80rem;
}

@media (min-width: $min-width-med) {
    body {
        display:grid;
        grid-template-columns: 12rem minmax(0, 1fr) 10rem;
        grid-template-rows: minmax(2rem, auto) 12rem auto 1fr;
        padding: 0 1rem;
        margin: 1rem auto 1rem auto;
        grid-template-areas:
            "blank1 subnav blank2"
            "logo main header"
            "nav main header"
            "footer footer footer";
        .logo {
            grid-area: logo;
        }
    }
}