@use 'variables' as *;
@use 'better-gradients' as bg;

$-header-height-md: 9rem;
$-header-height-lg: 12rem;
$-header-padding: 1rem;

.primary-logo {
    display: none;
    grid-area: logo;
}
header {
    position: fixed;
    top:0;
    text-align: center;
    height: $header-height-sm;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $color-darker;
    font-family: $headerFontFamily;
    align-items: center;
    height: $header-height-sm;
    margin: .5rem 0;
    .secondary-logo {
        height: 100%;
        display: flex;
        img {
            display: block;
            height: 100%;
            background-color: $color-whiter;
            padding: .5rem;
        }
        &::before {
            display:block;
            content: "";
            width: 1rem;
            height: 100%;
            background: bg.ease-in-out-right-gradient($color-lighter, $color-whiter, false, 'cubic');
            grid-area: fade-in;
        }
    }
    h1 {
        background-color: $color-whiter;
        width: 100%;
        height: 100%;
        .breakpoint {
            display: table;
        }

    }
    .hamburger-container {
        display: flex;
        width: $header-height-sm;
        height: 100%;
        // text-align: center;
        background-color: $color-whiter;
        a {
            display: flex;
            padding: 0 .5rem;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;
        }
        &:focus, &:hover {
            background-color: $color-light;
        }
        &::after {
            display:block;
            content: "";
            width: 30px;
            height: 100%;
            background: bg.ease-in-out-right-gradient($color-whiter, $color-lighter, false, 'cubic');
            grid-area: fade-in;
        }
    }
    .hamburger {
        display: block;
        font-size: 2rem;
        color: $color-darker;
        padding: .75rem 1rem;
        cursor: pointer;
    }

}

@media  (min-width: $min-width-med) {
    .primary-logo {
        display: block;
    }
    header {
        position: static;
        display:flex;
        grid-area: header;
        flex-direction: column;
        height: auto;
        color: $color-blackest;
        h1 {
            font-size: $headerFontSize;
            padding: 1rem 0;
            margin: 0 auto;
            text-align: start;
            writing-mode: vertical-rl;
            height: auto;
            text-align: center;
            display: flex;
            align-items: center;
            background-color:transparent;
            .breakpoint {
                display: none;
            }
        }
        .secondary-logo {
            display: none;
        }
        .hamburger-container {
            display: none;
        }
    }
}