@use 'variables' as *;
@use 'better-gradients' as bg;

#index {
    display:none;
}

main {
    grid-area: main;
    margin: 0 1rem;
    nav {
        padding: 1rem;
        grid-area:subnav;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            li {
                margin: .5rem;
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                &::before {
                    display: block;
                    content: "";
                    height: 2rem;
                    background: bg.ease-in-out-down-gradient($color-lighter, $color-darker);
                }
                a {
                    text-decoration: none;
                    display: block;
                    height: 3rem;
                    padding: .5rem;
                    width: 100%;
                    background-color: $color-darker;
                    color: $color-lighter;
                }
                &.active, &:focus {
                    flex-direction: column-reverse;
                    a {
                        background-color: $color-blackest;
                        color: $color-white;
                        text-align: start;
                    }
                    &::before {
                        background: bg.ease-in-out-down-gradient($color-blackest, $color-lighter);
                    }
                }
                &:not(.active):hover {
                    &::before {
                        background: bg.ease-in-out-down-gradient($color-lighter, $color-black);
                    }
                    a {
                        background-color: $color-black;
                    }
                }
            }
        }
    }
    section {
        background-color: $color-lightest;
        margin: 1rem;
        padding: 1rem 2rem;
        h2 {
            font-size: 30pt;
            margin: 1rem 0 .5rem 0;
        }
        h3 {
            font-size: 24pt;
            margin: 1rem 0 .25rem 0;
        }
        p {
            font-family: $contentFontFamily;
        }
    }
    form {
        fieldset {
            border: none;
            legend {
                padding: 0;
                font-size: 22pt;
                padding-left: 1.2rem;
            }
            label {
                display: block;
                font-size: 10pt;
            }
            .buttons {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                button, input[type=button], .button {
                    width: 100%;
                    margin: .5rem;
                }
            }
        }
    }
    button, input[type=button], .button {
        appearance: none;
        padding: .25rem .75rem;
        font-size: 20pt;
        background-color: $color-whitest;
        border: 2px solid $color-lighter;
        border-radius: .5rem;
        color: $color-darker;
        font-family: $headerFontFamily;
        &:hover {
            background-color: $color-whiter;
            color: $color-blackest;
            border: 2px solid $color-light;
        }
        &:focus {
            background-color: $color-white;
            border: 2px solid  $color-dark;
            transform: scale(0.99);
        }
    }
    textarea {
        display: block;
        resize: none;
        width: 100%;
        height: 16rem;
        background-color: $color-whitest;
        color: $color-black;
        padding: .5rem;
        border: 2px solid $color-lighter;
        border-radius: .5rem;
        font-family: $contentFontFamily;
        font-size: 12pt;
        &:hover {
            border-color: $color-light;
        }
        &:focus {
            outline: none;
            border-color: $color-dark;
            transform: scale(0.99);
        }
    }
    input {
        appearance: none;
        display: block;
        width: 100%;
        font-size: 2rem;
        border: 2px solid $color-lighter;
        border-radius: .5rem;
        padding: .5rem 1rem;
        color: $color-black;
        background-color: $color-whitest;
        font-family: $contentFontFamily;
        &:hover {
            border-color: $color-light;
        }
        &:focus {
            outline: none;
            border-color: $color-dark;
            transform: scale(0.99);
        }
    }
}
.book-overview {
    display: block;
    border: none;
    padding: .5rem 2rem;
    font-size: 1.25rem;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin:0 0 .5rem 0;
    background-color: $color-white;
    &:hover, &:focus {
        background-color: $color-whitest;
    }
    &:active {
        transform: scale(0.99);
    }
    .book-overview-title {
        font-size: 1.5rem;
    }
    .book-overview-summary {
        font-family: $contentFontFamily;
    }
}
.book-summary {
    white-space: pre-line;
}


@media (min-width: $min-width-med) {
    main {
        margin-top: 0;
        form {
            fieldset {
                .buttons {
                    flex-wrap: nowrap;
                    button, input[type=button], .button {
                        margin: 0 .5rem;
                    }
                }
            }
        }
    }
}