@use 'variables' as *;
@use 'better-gradients' as bg;

#primary-nav {
    position: fixed;
    display: none;
    top: $header-height-sm + .5rem;;
    background-color: $color-blackest;
    color: $color-lighter;
    font-family: $headerFontFamily;
    width: 100%;
    &::before {
        z-index: 9;
        content: "";
        display:block;
        position:absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $color-black;
        opacity: 0.5;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display:flex;
        width: 100%;
        flex-direction: column;
        li {
            z-index: 99;
            width: 100%;
            font-size: 1.5rem;
            &::after {
                content: "";
                display:block;
                margin: 0 auto;
                height: 2px;
                width: 100%;
                background: bg.ease-in-out-right-gradient($color-dark, $color-medium, $color-dark);
            }
            &:last-child::after {
                display: none;
            }
            &.active {
                color: $color-white;
            }
        }
        a {
            display:block;
            padding: 1rem;
            text-decoration: none;
            color: inherit;
            &:hover {
                background-color: $color-darker;
                color: $color-white;
            }
            &:focus {
                background-color: $color-black;
                color: $color-white;
            }
        }
    }
}

#secondary-nav {
    padding: 0;
    grid-area:subnav;
    display:block;
    margin-top: $header-height-sm + 1rem;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        li {
            margin: .5rem;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            &::before {
                display: block;
                content: "";
                height: 2rem;
                background: bg.ease-in-out-down-gradient($color-lighter, $color-darker);
            }
            a {
                padding: 0 1rem;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 3rem;
                width: 100%;
                background-color: $color-darker;
                color: $color-lighter;
            }
            &.active, &:focus {
                flex-direction: column-reverse;
                a {
                    background-color: $color-blackest;
                    color: $color-white;
                }
                &::before {
                    background: bg.ease-in-out-down-gradient($color-blackest, $color-lighter);
                }
            }
            &:not(.active):hover {
                &::before {
                    background: bg.ease-in-out-down-gradient($color-lighter, $color-black);
                }
                a {
                    background-color: $color-black;
                }
            }
        }
    }
}

@media (min-width: $min-width-med) {
    
    #primary-nav {
        background-color: transparent;
        grid-area: nav;
        width: 100%;
        display: block;
        position: static;
        &::before {
            display: none;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            a {
                text-decoration: none;
                display:block;
                height: 2rem;
                width: 9rem;
                padding: .3rem 1rem;
                text-align: end;
                color: $color-lighter;
                background-color: $color-darker;
            }
            li {
                display:flex;
                flex-direction: row-reverse;
                margin:.3rem auto;
                font-size: 1rem;
                &::after {
                    display: block;
                    content: "";
                    width: 3rem;
                    height: 2rem;
                    background: bg.ease-in-out-right-gradient($color-lighter, $color-darker);
                }
                &:last-child::after {
                    display: block;
                }
                &.active, &:focus {
                    flex-direction: row;
                    a {
                        background-color: $color-blackest;
                        color: $color-white;
                        text-align: start;
                    }
                    &::after {
                        background: bg.ease-in-out-right-gradient($color-blackest, $color-lighter);
                    }
                }
                &:not(.active):hover {
                    &::after {
                        background: bg.ease-in-out-right-gradient($color-lighter, $color-black);
                    }
                    a {
                        background-color: $color-black;
                    }
                }
                &:focus {
                    transform: scale(0.99);
                }
            }
        }
    }

    #secondary-nav {
        padding: 0 3rem;
        margin-top:0;
    }
}