
@import url('https://fonts.googleapis.com/css?family=Acme|Noticia+Text');

$color-black: #001e1e;
$color-darker: #003232;
$color-dark: #1e5a5a;
$color-medium: #329696;
$color-light: #44d2d2;
$color-lighter: #7ae9e9;
$color-white: #e5ffff;

$header-height-sm: 6rem;

$medium-min-width: 40rem;
$large-min-width: 50rem;
$giant-min-width: 73rem;

$font-family-header: Acme, Arial, Helvetica, sans-serif;
$font-family-content: 'Noticia Text', Georgia, 'Times New Roman', serif;