
<img class="giantlogo" src="/images/logos/logo-black-seafoam.svg" alt="Bionic Dev Logo">
<header>
    <img class="logo" src="/images/logos/logo-black-seafoam.svg" alt="Bionic Dev Logo">
    <h1>CSE 341<span class="breakpoint"></span> Portfolio</h1>
    <a href="javascript:void(0)" onclick="toggleMenu()"><span id="hamburger" class="hamburger fas fa-bars"></span></a>
    <script src="/scripts/nav.js"></script>
</header>