:root {
    --color-black: #001e1e;
    --color-darker: #003232;
    --color-dark: #1e5a5a;
    --color-medium: #329696;
    --color-light: #44d2d2;
    --color-lighter: #7ae6e6;
    --color-white: #d5ffff;
}

.nav-ul {
    display: flex;
    list-style-type: none;
}