@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab");
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  background-color: #c1c1c1;
  color: #212121;
}

body {
  margin: 0;
  max-width: 80rem;
}

@media (min-width: 58rem) {
  body {
    display: grid;
    grid-template-columns: 12rem minmax(0, 1fr) 10rem;
    grid-template-rows: minmax(2rem, auto) 12rem auto 1fr;
    padding: 0 1rem;
    margin: 1rem auto 1rem auto;
    grid-template-areas: "blank1 subnav blank2" "logo main header" "nav main header" "footer footer footer";
  }
  body .logo {
    grid-area: logo;
  }
}
.primary-logo {
  display: none;
  grid-area: logo;
}

header {
  position: fixed;
  top: 0;
  text-align: center;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #414141;
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  align-items: center;
  height: 6rem;
  margin: 0.5rem 0;
}
header .secondary-logo {
  height: 100%;
  display: flex;
}
header .secondary-logo img {
  display: block;
  height: 100%;
  background-color: #f5f5f5;
  padding: 0.5rem;
}
header .secondary-logo::before {
  display: block;
  content: "";
  width: 1rem;
  height: 100%;
  background: linear-gradient(to right, #c1c1c1, #c1c1c1, #c2c2c2, #c3c3c3, #c4c4c4, #c7c7c7, #cacaca, #cecece, #d4d4d4, #dbdbdb, #e2e2e2, #e8e8e8, #ececec, #efefef, #f2f2f2, #f3f3f3, #f4f4f4, whitesmoke, whitesmoke, whitesmoke);
  grid-area: fade-in;
}
header h1 {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
}
header h1 .breakpoint {
  display: table;
}
header .hamburger-container {
  display: flex;
  width: 6rem;
  height: 100%;
  background-color: #f5f5f5;
}
header .hamburger-container a {
  display: flex;
  padding: 0 0.5rem;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
header .hamburger-container:focus, header .hamburger-container:hover {
  background-color: #a1a1a1;
}
header .hamburger-container::after {
  display: block;
  content: "";
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, whitesmoke, whitesmoke, #f4f4f4, #f3f3f3, #f2f2f2, #efefef, #ececec, #e8e8e8, #e2e2e2, #dbdbdb, #d4d4d4, #cecece, #cacaca, #c7c7c7, #c4c4c4, #c3c3c3, #c2c2c2, #c1c1c1, #c1c1c1, #c1c1c1);
  grid-area: fade-in;
}
header .hamburger {
  display: block;
  font-size: 2rem;
  color: #414141;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

@media (min-width: 58rem) {
  .primary-logo {
    display: block;
  }

  header {
    position: static;
    display: flex;
    grid-area: header;
    flex-direction: column;
    height: auto;
    color: #212121;
  }
  header h1 {
    font-size: 49pt;
    padding: 1rem 0;
    margin: 0 auto;
    text-align: start;
    writing-mode: vertical-rl;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  header h1 .breakpoint {
    display: none;
  }
  header .secondary-logo {
    display: none;
  }
  header .hamburger-container {
    display: none;
  }
}
#primary-nav {
  position: fixed;
  display: none;
  top: 6.5rem;
  background-color: #212121;
  color: #c1c1c1;
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  width: 100%;
}
#primary-nav::before {
  z-index: 9;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #313131;
  opacity: 0.5;
}
#primary-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
}
#primary-nav ul li {
  z-index: 99;
  width: 100%;
  font-size: 1.5rem;
}
#primary-nav ul li::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #616161, #616161, #616161, #626262, #636363, #646464, #666666, dimgray, #6d6d6d, #717171, #757575, #797979, #7c7c7c, #7e7e7e, #7f7f7f, gray, #818181, #818181, #818181, #818181, #818181, #818181, #818181, gray, #7f7f7f, #7e7e7e, #7c7c7c, #797979, #757575, #717171, #6d6d6d, dimgray, #666666, #646464, #636363, #626262, #616161, #616161, #616161, #616161);
}
#primary-nav ul li:last-child::after {
  display: none;
}
#primary-nav ul li.active {
  color: #f0f0f0;
}
#primary-nav ul a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
}
#primary-nav ul a:hover {
  background-color: #414141;
  color: #f0f0f0;
}
#primary-nav ul a:focus {
  background-color: #313131;
  color: #f0f0f0;
}

#secondary-nav {
  padding: 0;
  grid-area: subnav;
  display: block;
  margin-top: 7rem;
}
#secondary-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
#secondary-nav ul li {
  margin: 0.5rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#secondary-nav ul li::before {
  display: block;
  content: "";
  height: 2rem;
  background: linear-gradient(to bottom, #c1c1c1, silver, #bfbfbf, #bdbdbd, #b9b9b9, #b3b3b3, #ababab, #a0a0a0, #929292, #818181, #707070, #626262, #575757, #4f4f4f, #494949, #454545, #434343, #424242, #414141, #414141);
}
#secondary-nav ul li a {
  padding: 0 1rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
  width: 100%;
  background-color: #414141;
  color: #c1c1c1;
}
#secondary-nav ul li.active, #secondary-nav ul li:focus {
  flex-direction: column-reverse;
}
#secondary-nav ul li.active a, #secondary-nav ul li:focus a {
  background-color: #212121;
  color: #f0f0f0;
}
#secondary-nav ul li.active::before, #secondary-nav ul li:focus::before {
  background: linear-gradient(to bottom, #212121, #222222, #232323, #262626, #2b2b2b, #323232, #3c3c3c, #4a4a4a, #5b5b5b, #717171, #878787, #989898, #a6a6a6, #b0b0b0, #b7b7b7, #bcbcbc, #bfbfbf, silver, #c1c1c1, #c1c1c1);
}
#secondary-nav ul li:not(.active):hover::before {
  background: linear-gradient(to bottom, #c1c1c1, silver, #bfbfbf, #bcbcbc, #b8b8b8, #b1b1b1, #a8a8a8, #9c9c9c, #8d8d8d, #797979, #656565, #565656, #4a4a4a, #414141, #3a3a3a, #363636, #333333, #323232, #313131, #313131);
}
#secondary-nav ul li:not(.active):hover a {
  background-color: #313131;
}

@media (min-width: 58rem) {
  #primary-nav {
    background-color: transparent;
    grid-area: nav;
    width: 100%;
    display: block;
    position: static;
  }
  #primary-nav::before {
    display: none;
  }
  #primary-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #primary-nav ul a {
    text-decoration: none;
    display: block;
    height: 2rem;
    width: 9rem;
    padding: 0.3rem 1rem;
    text-align: end;
    color: #c1c1c1;
    background-color: #414141;
  }
  #primary-nav ul li {
    display: flex;
    flex-direction: row-reverse;
    margin: 0.3rem auto;
    font-size: 1rem;
  }
  #primary-nav ul li::after {
    display: block;
    content: "";
    width: 3rem;
    height: 2rem;
    background: linear-gradient(to right, #c1c1c1, silver, #bfbfbf, #bdbdbd, #b9b9b9, #b3b3b3, #ababab, #a0a0a0, #929292, #818181, #707070, #626262, #575757, #4f4f4f, #494949, #454545, #434343, #424242, #414141, #414141);
  }
  #primary-nav ul li:last-child::after {
    display: block;
  }
  #primary-nav ul li.active, #primary-nav ul li:focus {
    flex-direction: row;
  }
  #primary-nav ul li.active a, #primary-nav ul li:focus a {
    background-color: #212121;
    color: #f0f0f0;
    text-align: start;
  }
  #primary-nav ul li.active::after, #primary-nav ul li:focus::after {
    background: linear-gradient(to right, #212121, #222222, #232323, #262626, #2b2b2b, #323232, #3c3c3c, #4a4a4a, #5b5b5b, #717171, #878787, #989898, #a6a6a6, #b0b0b0, #b7b7b7, #bcbcbc, #bfbfbf, silver, #c1c1c1, #c1c1c1);
  }
  #primary-nav ul li:not(.active):hover::after {
    background: linear-gradient(to right, #c1c1c1, silver, #bfbfbf, #bcbcbc, #b8b8b8, #b1b1b1, #a8a8a8, #9c9c9c, #8d8d8d, #797979, #656565, #565656, #4a4a4a, #414141, #3a3a3a, #363636, #333333, #323232, #313131, #313131);
  }
  #primary-nav ul li:not(.active):hover a {
    background-color: #313131;
  }
  #primary-nav ul li:focus {
    transform: scale(0.99);
  }

  #secondary-nav {
    padding: 0 3rem;
    margin-top: 0;
  }
}
#index {
  display: none;
}

main {
  grid-area: main;
  margin: 0 1rem;
}
main nav {
  padding: 1rem;
  grid-area: subnav;
}
main nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
main nav ul li {
  margin: 0.5rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
main nav ul li::before {
  display: block;
  content: "";
  height: 2rem;
  background: linear-gradient(to bottom, #c1c1c1, silver, #bfbfbf, #bdbdbd, #b9b9b9, #b3b3b3, #ababab, #a0a0a0, #929292, #818181, #707070, #626262, #575757, #4f4f4f, #494949, #454545, #434343, #424242, #414141, #414141);
}
main nav ul li a {
  text-decoration: none;
  display: block;
  height: 3rem;
  padding: 0.5rem;
  width: 100%;
  background-color: #414141;
  color: #c1c1c1;
}
main nav ul li.active, main nav ul li:focus {
  flex-direction: column-reverse;
}
main nav ul li.active a, main nav ul li:focus a {
  background-color: #212121;
  color: #f0f0f0;
  text-align: start;
}
main nav ul li.active::before, main nav ul li:focus::before {
  background: linear-gradient(to bottom, #212121, #222222, #232323, #262626, #2b2b2b, #323232, #3c3c3c, #4a4a4a, #5b5b5b, #717171, #878787, #989898, #a6a6a6, #b0b0b0, #b7b7b7, #bcbcbc, #bfbfbf, silver, #c1c1c1, #c1c1c1);
}
main nav ul li:not(.active):hover::before {
  background: linear-gradient(to bottom, #c1c1c1, silver, #bfbfbf, #bcbcbc, #b8b8b8, #b1b1b1, #a8a8a8, #9c9c9c, #8d8d8d, #797979, #656565, #565656, #4a4a4a, #414141, #3a3a3a, #363636, #333333, #323232, #313131, #313131);
}
main nav ul li:not(.active):hover a {
  background-color: #313131;
}
main section {
  background-color: #e1e1e1;
  margin: 1rem;
  padding: 1rem 2rem;
}
main section h2 {
  font-size: 30pt;
  margin: 1rem 0 0.5rem 0;
}
main section h3 {
  font-size: 24pt;
  margin: 1rem 0 0.25rem 0;
}
main section p {
  font-family: "Roboto Slab", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
main form fieldset {
  border: none;
}
main form fieldset legend {
  padding: 0;
  font-size: 22pt;
  padding-left: 1.2rem;
}
main form fieldset label {
  display: block;
  font-size: 10pt;
}
main form fieldset .buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main form fieldset .buttons button, main form fieldset .buttons input[type=button], main form fieldset .buttons .button {
  width: 100%;
  margin: 0.5rem;
}
main button, main input[type=button], main .button {
  appearance: none;
  padding: 0.25rem 0.75rem;
  font-size: 20pt;
  background-color: #fefefe;
  border: 2px solid #c1c1c1;
  border-radius: 0.5rem;
  color: #414141;
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
}
main button:hover, main input[type=button]:hover, main .button:hover {
  background-color: #f5f5f5;
  color: #212121;
  border: 2px solid #a1a1a1;
}
main button:focus, main input[type=button]:focus, main .button:focus {
  background-color: #f0f0f0;
  border: 2px solid #616161;
  transform: scale(0.99);
}
main textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 16rem;
  background-color: #fefefe;
  color: #313131;
  padding: 0.5rem;
  border: 2px solid #c1c1c1;
  border-radius: 0.5rem;
  font-family: "Roboto Slab", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 12pt;
}
main textarea:hover {
  border-color: #a1a1a1;
}
main textarea:focus {
  outline: none;
  border-color: #616161;
  transform: scale(0.99);
}
main input {
  appearance: none;
  display: block;
  width: 100%;
  font-size: 2rem;
  border: 2px solid #c1c1c1;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: #313131;
  background-color: #fefefe;
  font-family: "Roboto Slab", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
main input:hover {
  border-color: #a1a1a1;
}
main input:focus {
  outline: none;
  border-color: #616161;
  transform: scale(0.99);
}

.book-overview {
  display: block;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 0.5rem 0;
  background-color: #f0f0f0;
}
.book-overview:hover, .book-overview:focus {
  background-color: #fefefe;
}
.book-overview:active {
  transform: scale(0.99);
}
.book-overview .book-overview-title {
  font-size: 1.5rem;
}
.book-overview .book-overview-summary {
  font-family: "Roboto Slab", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.book-summary {
  white-space: pre-line;
}

@media (min-width: 58rem) {
  main {
    margin-top: 0;
  }
  main form fieldset .buttons {
    flex-wrap: nowrap;
  }
  main form fieldset .buttons button, main form fieldset .buttons input[type=button], main form fieldset .buttons .button {
    margin: 0 0.5rem;
  }
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  flex-grow: 1;
  margin: 0.5rem;
  background-color: #f0f0f0;
  padding: 1rem;
  font-size: initial;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 0;
}
.product-card:hover, .product-card:focus {
  background-color: #fefefe;
}

.product-img-container {
  min-height: 10rem;
  max-width: 20rem;
  margin: 0 auto;
}
.product-img-container img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.product-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-header h4, .product-header h5 {
  margin: 0.25rem;
}

.product-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 58rem) {
  .product-card {
    flex-basis: 33%;
  }
}
@media (min-width: 60rem) {
  .product-card {
    flex-basis: 25%;
  }
}
footer {
  width: auto;
  display: grid;
  margin: 2rem 0 0 0;
  grid-template-columns: 3rem minmax(0, 1fr) 3rem;
  grid-template-areas: "fade-in content fade-out";
  grid-area: footer;
}
footer::before, footer::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}
footer::before {
  background: linear-gradient(to right, #c1c1c1, silver, #bfbfbf, #bdbdbd, #b9b9b9, #b3b3b3, #ababab, #a0a0a0, #929292, #818181, #707070, #626262, #575757, #4f4f4f, #494949, #454545, #434343, #424242, #414141, #414141);
  grid-area: fade-in;
}
footer::after {
  background: linear-gradient(to right, #414141, #424242, #434343, #454545, #494949, #4f4f4f, #575757, #626262, #707070, #818181, #929292, #a0a0a0, #ababab, #b3b3b3, #b9b9b9, #bdbdbd, #bfbfbf, silver, #c1c1c1, #c1c1c1);
  grid-area: fade-out;
}
footer section {
  grid-area: content;
  background-color: #414141;
  color: #c1c1c1;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
