@use '../variables' as *;

.product-container {
    display:grid;
    grid-template-columns: 1fr;
    width: 100%;
}
.product-form {
    width: 100%;
    min-width: 0;
}
.product-card {
    margin: .5rem;
    background-color: $color-white;
    padding: 1rem;
    font-size:initial;
    min-width: 0;
    width: 100%;
    min-width: 0;
    height:100%;
    &:hover, &:focus {
        background-color: $color-whitest;
    }
    
}
.product-img-container {
    min-height: 10rem;
    max-width: 20rem;
    margin: 0 auto;
    img {
        display:block;
        width: 100%;
        margin: 0 auto;
    }
}
.product-header {
    justify-content: space-between;
    h4, h5 {
        margin: .25rem;
    }
}
.product-description {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

@media (min-width: $min-width-med) {
    .product-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: $min-width-lg) {
    .product-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}