<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../includes/head.ejs") %>
</head>

<body>
    <%- include ("../includes/header.ejs") %>
    <%- include ("../includes/nav.ejs") %>
    <main class="">
        <section>
            <h2>About Levi Hilton</h2>
            <p>The content for this part of the site is still in progress. Sorry!</p>
        </section>
    </main>
    <%- include ("../includes/footer.ejs") %>
</body>
</html>