<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../partials/head.ejs") %>
</head>

<body>
    <%- include ("../partials/header.ejs") %>
    <%- include ("../partials/nav.ejs") %>
    <main class="">
        <section>
            <h2>CSE 341 Course Objectives*</h2>
            <p>This course builds on other web classes offered by the university and helps students create more advanced web applications and services. The emphasis of this course will be on server-side technologies and n-tier applications using NoSQL database technology. Client side technologies will be enhanced and combined with server-side technologies to create rich web applications.</p>
            <p> At the end of this semester successful students will be able to:</p>
            <ol>
                <li>Know how to learn and possess well-developed problem-solving skills</li>
                <li>Articulate and follow effective design principles, patterns, and practices to create maintainable web services</li>
                <li>Independently learn, evaluate, and apply new technologies</li>
                <li>Work collaboratively with a development team</li>
                <li>Be excited about possibilities of web development</li>
            </ol>
            <aside>
                <p>*The CSE 341 Course Objectives were taken directly from the BYU-Idaho Spring 2021 semester CSE 341 syllabus.</p>
            </aside>
        </section>
    </main>
    <%- include ("../partials/footer.ejs") %>
</body>
</html>