<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../partials/head.ejs") %>
</head>

<body>
    <%- include ("../partials/header.ejs") %>
    <%- include ("../partials/nav.ejs") %>
    <main class="">
        <section>
            <h2>This is a quick little template</h2>
            <p>Add whatever is needed!</p>
        </section>
    </main>
    <%- include ("../partials/footer.ejs") %>
</body>
</html>